.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ansbut {
  margin: 5px;
  font-size: x-large;
  background-color: #fff;
}

.word {
  font-size:xx-large;
}

.menubut {
  margin: 5px;
  font-size: large;
}

button {
  background-color: #555;
  border-radius: 5px;
}